body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin : 0;
  font-family: 'Titillium Web', sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  background: white;
  height: 100px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.1);
}

nav ul{
  display: flex;
  padding-right: 50px;
}

nav ul li{
  padding: 30px;
}

nav ul li:hover {
  border-bottom: 3px solid #9284ff;
}

nav ul li > a {
  text-decoration: inherit;
  color: inherit;
  display: block;
}

nav ul li > a:hover {
  color: #9284ff;
}

#app {
  margin: 0 auto;
  padding:4%;
  max-width: 1026px;
}
div.overview div.title {
  display: flex;
}
div.overview div.title > h1 {
  font-size: 4.5em;
  color: #9284FF;
}
div.overview div.title > h1.yes::before {
  content: ">";
  margin-right: 30px;
  color: #9284FF;
}
div.overview div.title > h1 > span {
  background-color: rgba(146,132,255,.65);
  animation: caret 1s steps(1) infinite;
  display: inline-block;
  height: 72px;
  line-height: 72px;
  width: 10px;
  margin-left: 5px;
}

div.overview div.description {

}
div.overview div.description > p {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-weight: 200;
  font-size: 1.3em;
  line-height: 40px;
  color: #525f7f;
  margin: 80px 0;
  text-rendering: optimizeLegibility;
}

div.about-me div.terminal > div.terminal-header {
  height: 28px;
  background-color: #e4e3e5;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.about-me div.terminal > div.terminal-header > div.red-btn {
  background-color: #f96256;
  border: 1px solid #f65549;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

div.about-me div.terminal > div.terminal-header > div.yellow-btn {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

div.about-me div.terminal > div.terminal-header > div.green-btn {
  background-color: #33c948;
  border: 1px solid #2dbb41;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

div.about-me div.terminal > div.terminal-window {
  background-color: #666385;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
  font-family: Monaco,Consolas,Lucida Console,monospace;
}

div.about-me div.terminal > div.terminal-window div.statement:first-child {
  padding-top: 35px;
}

div.about-me div.terminal > div.terminal-window div.statement:last-child {
  padding-bottom: 35px;
}

div.about-me div.terminal > div.terminal-window div.statement {
  margin-bottom: 25px;
  margin-left: 35px;
  margin-right: 35px;
  line-height: 24px;
  font-size: 18px;
}

div.about-me div.terminal > div.terminal-window div.input-statement {
  color: #f7f7f7;
  font-size: 100%;
  font: inherit;
}

div.about-me div.terminal > div.terminal-window div.input-statement::before {
  content: "$ ";
}

div.about-me div.terminal > div.terminal-window div.return-statement {
  color: #e7d184;
}

div.about-me div.terminal > div.terminal-window div.return-statement a {
  text-decoration: none;
  color: #35feff;
}

div.about-me div.terminal > div.terminal-window div.return-statement a:hover {
  background-color: #9284ff;
}

div.about-me div.terminal > div.terminal-window div.input-statement > span.terminal-blink {
  background: hsla(0,0%,97%,.65);
  animation: caret 1s steps(1) infinite;
  display: inline-block;
  width: 5px;
}
.section-title {
  color: #525f7f;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px
  margin  50px 0 80px 0;
}

.section-title:after {
  content: " ";
  border: 3px solid #9284ff;
  display: block;
  margin: 12px auto;
  width: 74px;
}

.projects-container {
  width: 90%;
  margin: 0 auto;
}

.projects-container > .project-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 60px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
  transition: all .5s ease;
  overflow: hidden;
}

.projects-container .project-card .project-content p a {
    text-decoration: none;
    color: #9284ff;
    position: relative;
    font-weight: 700;
}

.projects-container .project-card .project-screenshot {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  display: block;
}

.projects-container .project-card .project-background {
  position: absolute;
  color:red;
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  background: url('/images/project-background.svg');
  background-size: cover;
  display: block;
}

.projects-container .project-card .project-content {
  padding: 60px;
  width: 40%;
  z-index: 2;

}

.projects-container .project-card .project-content  h3 {
  font-family: inherit;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 38px;
  color: #525f7f;
  margin-top: 0;
  margin-bottom: 35px;
}

.projects-container .project-card .project-content > p {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  margin-bottom: 30px;
  line-height: 27px;
  color: #525f7f;
}

.projects-container .project-card .project-content > .project-skills {
  display: flex;
  flex-wrap: wrap;
}

.projects-container .project-card .project-content > .project-skills > span {
  border-radius: 4px;
  border: 2px solid #92eac0;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: .85em;
  color: #525f7f;
}

.projects-container .project-card .project-content > .project-links {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.projects-container .project-card .project-content > .project-links > .project-link {
  margin: 10px 20px 0 0;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all .15s ease;
  color: #fff;
  background: #9284ff;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: .9em;
  font-weight: 600;
}
.projects-container .project-card .project-content > .project-links > .project-link:hover {
  background:#6f60dd;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1),
              0 3px 6px rgba(0,0,0,.08);
}
.contact-links {
  font-family: inherit;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.contact-links span:after {
  content: '||';
  color: #525f7f;
  margin: 0 30px;
}
footer {
  font-family: inherit;
  text-align: center;
  padding-bottom: 50px;
  color: #525f7f;
}

@media screen and (max-width: 700px) {
  .navbar {
    text-align: center;
  }
  nav ul {
    padding-right: 18px;
  }
  .overview {
    margin-top: 15vh;
  }
  .overview .title {
    font-size: 0.6em;
  }
  div.overview div.title > h1 > span {
    height: 39px;
    line-height: 43px;
    width: 5px;
  }
  div.overview div.description > p{
    font-size: 1.2em;
    line-height: 30px;
    margin: 40px 0;
  }
  .projects-container .project-card .project-screenshot {
    display: none;
  }
  .projects-container .project-card .project-background {
    display: none;
  }
  .projects-container .project-card .project-content {
    width: 100%;
    padding: 7px;
  }
  .contact-links {
    flex-direction: column;
  }
  .contact-links span:after {
      content: "";
      margin: 0;
  }
}

@keyframes caret {
  50% {
    background-color: transparent;
  }
}
